<!doctype html>
<html ng-app="app" ng-strict-di class="full-height">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Jasmine Fiddle</title>
      <link rel="stylesheet" href="style.css">
      <script src="parent-script.js"></script>
    </head>
    <body class="full-height">
      <div ng-controller="ctrl" class="container full-height">
        <div class="col">
          <div class="col-header">Your code</div>
          <div class="col-body" ui-ace="aceConfig" ng-model="code"></div>
        </div>
        <div class="col">
          <div class="col-header">Your tests</div>
          <div class="col-body" ui-ace="aceConfig" ng-model="tests"></div>
        </div>
        <div class="col">
          <div class="col-header">Results</div>
          <jasmine-results js="{{code}} {{tests}}" class="col-body"></jasmine-results>
        </div>
      </div>
    </body>
</html>

